*{
    padding: 0;
    margin: 0;
}
/* essencial para o parallax */
/* parallax feito apenas com sobreposição de backgrounds */
html, body, #home{
    height: 100%;
    overflow-x: hidden;
    /*oculta a barra horizonta de rolagem*/
}

body{
    background-image: url(../images/capa.png),
                      url(../images/ruido.png),
                      linear-gradient(30deg,#ff4169,#7c26f8);
    background-attachment: fixed;
}
/* /parallax feito apenas com sobreposição de backgrounds */
.parallax{
    height: 100vh;
    background-attachment: fixed;    
}

#agá-1, h1, h2{
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 900;
    letter-spacing: -0.05em;
}

p{
    font-family: Helvetica, Arial, sans-serif;
    color:rgb(33, 37, 41);
    font-weight: 400;
    font-size: 18px;
}
/* essencial para o parallax, daqui em diante, basta criar as divs com bkg-img */

/* sobreposição de filtros com background para o parallax */
.capa-filtro{
    background-image: linear-gradient(50deg, #ff4169,#7c26f8) ;  
    opacity: 1;
    z-index: 10;
}

.capa-ruido{
    background-image: url(../images/ruido.png);
    opacity: 0.8;
    z-index: 1;
}

.capa-imagem{
    background-image: url(../images/capa.png);
    background-repeat: repeat;  
    z-index: 50;
}
/* sobreposição de filtros com background para o parallax */

/* barra de navegação fixa - topo */
nav{
    z-index: 200;
}

#container-fluid-navergacao{
    background-color: rgb(12, 12, 12,0.9);
    z-index: 10;
}

#menu-navegacao a{
    color: white;
    font-size: 17px;
}

#separador{
    background-color: white;
    width: 1px;
    margin: 10px 15px;
}
.navbar-button-toggler{
    border-color: rgb(2550, 255, 255,0.9);
}


/* tela 1 */

#agá-1{
    margin-bottom: 50px;
    color: white;
}

div.col-md-12 a{
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 500px;
    color: white;
}

#btn-roxo{
    background-color: #7c25f8;
    /* transition: ease 0.3s; */

}

#btn-roxo:hover{
    background-color: #5902fa;
    transition: ease 0.3s;
    color: white;    
}

/* /tela 1 */

/* tela 2 */

#tela2{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: white;
}

#tela2 h1{
    font-size: 3em;
    font-weight: bolder;
    color: #7c25f8;
}

#description h2{
    color: #7c25f8;
    font-weight: bolder;
}

/* tela 3 */

#tela3{
    padding-bottom: 30px;
    padding-top: 30px;
}

#tela3 h1{
    color: white;
    font-size: 3em;
    font-weight: 700;
    letter-spacing: -0.04em;
    font-size: Arial, Helvetica, sans-serif;
}

#tela3 h2{
    color:rgb(155, 240, 225);
    font-size: 2em;
    font-weight: 700;
    letter-spacing: -0.04em;
}

.tela3-paragraph{
    color: white;
}

#tela3-div2{
    transform: rotateZ(30deg);
}


/* rodapé */

#rodape{
    background-color: black;
}

#rodape-container{
    z-index: 5;
}

#rodape-container a{
    margin-right: 100%;
}


#logos li{
    display: inline;
    float: right;
    padding: 10px;
}


#footer-list a:hover{
    color: #9bf0e1;
    text-decoration: none;
}

#rodape p{
     color: rgb(148, 145, 150);
     text-transform: uppercase;
}