*{
    padding: 0;
    margin: 0;
}
/* essencial para o parallax */
html, body{
    height: 100%;
}

.parallax{
    height: 100vh;
    background-attachment: fixed;    
}

/* essencial para o parallax, daqui em diante, basta criar as divs com bkg-img */

/* sobreposição de filtros com background para o parallax */
.capa-filtro{
    background-image: linear-gradient(50deg, #ff4169,#7c26f8) ;  
    opacity: 1;
    z-index: 10;
}

.capa-ruido{
    background-image: url(../images/ruido.png);
    opacity: 0.8;
    z-index: 1;
}

.capa-imagem{
    background-image: url(../images/capa.png);
    background-repeat: repeat;  
    z-index: 50;
}
/* sobreposição de filtros com background para o parallax */

/* barra de navegação fixa - topo */
nav{
    z-index: 200;
}

#container-fluid-navergacao{
    background-color: rgb(12, 12, 12,0.9);
    position: fixed;
    top: 0;
    z-index: 10;
}

#menu-navegacao a{
    color: white;
    font-size: 17px;
}
/* barra de navegação fixa - topo */

#slogan{
    color: white;
    font-weight: bold;
}

#btn-roxo{
    background-color: #7c25f8;
    cursor: pointer;
    color: white;
    text-transform: uppercase;
    transition: ease 0.3s;
}

#btn-roxo:hover{
    background-color: #5902fa;
    transition: ease 0.3s;
}

